.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-family: 'Aero';
    font-weight: 600;
    
  }
  .title {
    color: black;
    /* font-size: 55px; */
    line-height: 1em;
    margin: 0;
    font-family: 'Aero';
  }
@media (min-width:1201px) {
  .titleName {
    font-size: 55px;
  }
  .titleSub {
    font-size: 55px;
  }
  .navTitle {
    display: none;
  }

}
@media (min-width:769px) and (max-width:1200px) {
  .titleName {
    font-size: 42px;
  }
  .titleSub {
    font-size: 20px;
  }
  .togs {
    justify-content: end;
  }
}
@media (max-width:768px) {
  .titleName {
    font-size: 30px;
    text-align: center;
  }
  .titleSub {
    display: none;
  }
}
  .blue {
    color: #0069b4;
  }
  .yellow {
    color: #fbe300;
  }
  .a {
    color: black;
  }
.navis {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-family: 'Aero';
}
.qnas {
  align-items: left;
  font-family: 'Aero';
  padding-top: 30px;
}

.navTitle {
  font-family: 'Aero';
}